<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.enoque_alves.roboticaescolas">
    &lt;uses-permission android:name="android.permission.BLUETOOTH" /> &lt; uses-permission
    android:name="android.permission.BLUETOOTH_ADMIN" / > &lt;uses-permission
    android:name="android.permission.ACCESS_COARSE_LOCATION" /> &lt;uses-permission
    android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icone_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icone_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="br.ufc.quixada.roboticaescolas.MainActivity" />
        <activity android:name="br.ufc.quixada.roboticaescolas.ReceivingData" />
        <activity android:name="br.ufc.quixada.roboticaescolas.Dados" />
        <activity android:name="br.ufc.quixada.roboticaescolas.novo_comando" />
        <activity
            android:name="br.ufc.quixada.roboticaescolas.joystickk"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="br.ufc.quixada.roboticaescolas.TelaDeProgramacao"
            android:label="@string/title_activity_tela_de_programacao"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="br.ufc.quixada.roboticaescolas.posiServos" />
        <activity android:name="br.ufc.quixada.roboticaescolas.TelaConfBraco" />
        <activity android:name="br.ufc.quixada.roboticaescolas.MainSelecionarRobo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="br.ufc.quixada.roboticaescolas.TempoCronometro" />
        <activity
            android:name="br.ufc.quixada.roboticaescolas.joyAranha"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="br.ufc.quixada.roboticaescolas.telaConfAran"></activity>
    </application>

</manifest>